@import "tailwindcss";

@theme {
  --color-grey-500: #5E6E85;
  --color-grey-300: #ACC1DE;

  --color-blue-900: #253347;
  --color-blue-500: #345FF6;
  --color-blue-300: #B3D3F1;
  --color-blue-100: #E1E7FE;

  --font-inter: "Inter", sans-serif;
  --text-base: 16px;
  --leading-base: 150%;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Inter", sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}